// Variables
@import "variables";

// Bootstrap

// tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-body {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

.text-nav {
    color: #f3f3f3;
}

.bg-darkblue,
.hover\:bg-darkblue:hover {
    background-color: #3d3f5d;
}

.text-darkblue,
.hover\:text-darkblue:hover {
    color: #3d3f5d;
}

.border-darkblue,
.hover\:border-darkblue:hover {
    border-color: #3d3f5d;
}

.bg-btn-green {
    background-color: #97bfa2;
}

.bg-searchcontainer {
    background-color: #f3f3f3;
}

.font-oxygen {
    font-family: "Oxygen", sans-serif;
}

.bg-app {
    background-color: rgba(151, 191, 162, 0.2);
}

.bg-storecard {
    background-color: #f7f7f7;
}

.bg-danger {
    background-color: #eb5757;
    border-radius: 6px;
}

.border-nav,
.hover\:border-nav:hover {
    border-color: #97bfa2;
}

.rounded-img {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.rounded-storetext {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.rounded-all {
    border-radius: 2em;
}

.text-description {
    color: #969696;
}

input {
    font-family: "Oxygen", sans-serif;
}

.flex-basis {
    flex-basis: 384px;
}

.min-w-350 {
    min-width: 350px;
}

*:focus {
    outline: none !important;
}
